<h1>課程類別</h1>
<%= link_to '返回課程列表', admin_root_path %>
<%= link_to '新增課程類別', new_admin_program_type_path %>

<table>
  <tr>
    <th>ID</th>
    <th>名稱</th>
    <th></th>
  </tr>

  <% @types.each do |type| %>
  <tr>
    <td><%= type.id %></td>
    <td><%= type.name %></td>
    <td>
      <%= link_to 'Edit', edit_admin_program_type_path(type) %>
      <% if type.programs.blank? %>
        <%= link_to 'Delete', admin_program_type_path(type), :method => :delete, :data => { confirm: 'Are you sure?' }, :class => "btn btn-danger" %>
      <% end %>
    </td>
  </tr>
  <% end %>
</table>
