<h1>編輯課程 - <%= @program.name %></h1>

<%= form_for [:admin, @program], :method => :put do |f| %>

  <%= render 'form', f: f %>

  <%= f.submit 'Save' %>
  <%= link_to 'Cancel', admin_programs_path %>

<% end %>
