<h1>幣別</h1>
<%= link_to '返回課程列表', admin_root_path %>
<%= link_to '新增幣別', new_admin_currency_path %>

<table>
  <tr>
    <th>ID</th>
    <th>幣別</th>
    <th></th>
  </tr>

  <% @categories.each do |currency| %>
  <tr>
    <td><%= currency.id %></td>
    <td><%= currency.name %></td>
    <td>
      <%= link_to 'Edit', edit_admin_currency_path(currency) %>
      <% if currency.programs.blank? %>
        <%= link_to 'Delete', admin_currency_path(currency), :method => :delete, :data => { confirm: 'Are you sure?' }, :class => "btn btn-danger" %>
      <% end %>
    </td>
  </tr>
  <% end %>
</table>
